@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Montserrat:wght@400;500&display=swap");
$primary: #d69d00;
$accent: #41b4b0;
$accentDarker: #28908d;
$link: $accent;
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Montserrat", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;

.select select:hover,
.textarea:hover,
.input:hover,
.select select.is-hovered,
.is-hovered.textarea,
.is-hovered.input {
  border-color: transparent !important;
}

.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.is-active,
.is-active.textarea,
.is-active.input {
  border-color: $primary !important;
  box-shadow: none !important;
}

.radio:hover,
.checkbox:hover {
  color: #909090 !important;
}

.is-link {
  transition: color 0.1s ease-in-out;
  &:hover {
    color: $accentDarker;
  }
}

.is-vertical-centered {
  display: flex !important;
  align-items: center;
}
